<div class="panel panel-primary">
  <div class="panel-heading">
    <h2>Lista de Usuarios</h2>
  </div>
  <div class="panel-body">
    <table class="table table-striped">
      <thead>
      <tr>
        <th>Nombre</th>
        <th>Correo</th>
        <th>Rol</th>
        <th></th>
        <th></th>
        <th></th>
        <th>Acciones</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let usuario of usuarios | async">
        <td>{{usuario.nombre}}</td>
        <td>{{usuario.correo}}</td>
        <td>{{usuario.rol}}</td>
        <td></td>
        <td></td>
        <td></td>
        <td>
          <button (click)="sendMail(usuario.idusuario)" class="btn btn-danger">Correo</button>
          <button (click)="deleteUsuario(usuario.idusuario)" class="btn btn-danger" style="margin-left: 10px">Eliminar</button>
          <button (click)="usuarioDetails(usuario.idusuario)" class="btn btn-info" style="margin-left: 10px">Detalles</button>
          <button (click)="updateUsuario(usuario.idusuario)" class="btn btn-warning"  style="margin-left: 10px">Editar</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
